.photo{
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

.button{
    background-color: white;
    padding: 5px;
    border-radius: 5%;
}
.button_getUsers{
    background-color: white;
    padding: 5px;
    border-radius: 5%;
    margin: 10px;
}
.number{
    padding: 10px;
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.selectedPage{
    font-family: Bahnschrift;
    font-size: 20px;
    color: #08d52f;
    cursor: pointer;
}
.page {
    font-family: Bahnschrift;
    font-size: 20px;
    color: #de0606;
    cursor: pointer;
}

.Loading{
    width: 20px;

}