.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #f1f1ea;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}