.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #f1f1ea;
}

.dialog {
    list-style-type: none;
}

.messages {
    padding: 10px;
}

.message {

}
.Button_textarea{
    display: flex;
    padding: 10px;
}
.textarea{
    margin-right: 20px;
}